[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "prg/build-with-ai/pre-commit"]
	path = prg/build-with-ai/pre-commit
	url = https://github.com/klutometis/pre-commit.git
[submodule "prg/q"]
	path = prg/q
	url = git@github.com:klutometis/q.git
[submodule "etc/stow/common/dot-password-store"]
	path = etc/dotfiles/dot-password-store
	url = git@github.com:klutometis/password-store.git
[submodule "lib/wait-for-it"]
	path = lib/wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
[submodule "prg/laptop-stickers"]
	path = prg/laptop-stickers
	url = git@github.com:klutometis/laptop-stickers.git
[submodule "lib/shflags"]
	path = lib/shflags
	url = https://github.com/kward/shflags.git
[submodule "lib/bashlog"]
	path = lib/bashlog
	url = https://github.com/Zordrak/bashlog.git
